{% extends 'web/eu/base.html' %}

{% load bootstrap3 %}

{% block title %}Pasahitza berrezarrita{% endblock %}

{% block contenido %}

    <a name="contenido"></a>
    <div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="password-reset">

                    <h4><strong>Zure pasahitza berrezarria izan da!</strong></h4>

                    <p>Zure pasahitza berrezarria izan da. Jarraian saioa hasi dezakezu.</p>

                    {% bootstrap_button "Hasierara itzuli" button_type="link" href="/" button_class="btn-default" %}

                </div>

            </div>
        </div>
        </div>
    </div>
{% endblock %}
