{% load staticfiles %}
<header>
  <div id="image_logo" style="height: 100%; border: 1px solid black;">
    <img alt="Client Logo" title="Client Logo" src="{% static 'images/banner_img.png' %}" />
  </div>
</header>
<header class="nav">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a class="navbar-brand" href="#">Roomate</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="defaultNavbar1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link<span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form action="" method="" class="glow navbar-form navbar-left" role="search">
      		<input type="search" placeholder="Search...">
      		<button>Search</button>
      	</form>
        <ul class="nav navbar-nav navbar-right">
       {% if user.is_authenticated %}
          <li><p class="navbar-text">¡Hola {{ user.username }}!(<a href="{% url 'django.contrib.auth.views.logout' %}">Cerrar sesi&oacute;n</a>)</p></li>
       {% else %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
              <ul id="login-dp" class="dropdown-menu">
                <li>
                  <div class="row">
                    <div class="col-md-12">
                       <!--<form class="form" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}" accept-charset="UTF-8" id="login-nav">
                      -->
                      <form class="form" role="form" method="POST" action="{% url 'auth_login' %}" accept-charset="UTF-8" id="login-nav">
                      {% csrf_token %}
                        <div class="form-group">
                          <label class="sr-only" for="Email">Usuario</label>
                          <input type_'text' class='form-control' name='username' placeholder='Username'/>   <!-- {{ form.username }} -->
                          <!-- input type="text" class="form-control" id="Email" placeholder="Email address" required> -->
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="Password">Contrase&Ntilde;a</label>
                          <input type_'text' class='form-control' name='password' placeholder='Password'/>      <!-- {{ form.password }} -->
                          <!-- <input type="password" class="form-control" id="Password" placeholder="Password" required> -->
                          <div class="help-block text-right"><a href="{% url 'recover_password' %}">¿Contrase&ntilde;a olvidada?</a></div>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block" value="login">Iniciar sesi&oacute;n</button>
                          <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                        <!--
                        <div class="checkbox">
                          <label>
                          <input type="checkbox"> keep me logged-in
                          </label>
                        </div>
                        -->
                      </form>
                    </div>
                    <div class="bottom text-center">
                      Nuevo aqu&iacute; ? <a href="{% url 'register_new_user' %}"><b>Registrate</b></a>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          {% endif %}
          </ul>
        </ul>
      </div>
    <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
