<!-- Pagina para la recuperacion de contrasenas -->

{% extends 'web/es/base.html' %}

{% block contenido %}

    <a name="contenido"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <h1>Por favor, completa el siguiente formulario para recuperar la contraseña</h1>
                    <form method="POST" class="custom_form">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="save btn btn-default">recover password</button>
                    </form>

                </div>
            </div>
        </div>
        <!-- /.contenido -->
    </div>

{% endblock %}
