<!-- Pagina con informacion sobre el equipo -->

{% extends 'web/es/base.html' %}

{% block contenido %}

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-message">
                        <h3>El equipo MagnaRenove 2016</h3>
                        <hr class="intro-divider">
                        <p>
                            Somos un grupo de estudiantes de Grado en Ingeniería Inform&aacute;tica. Esta web
                            naci&oacute; en las practicas MagnaRenove 2016, a cargo de la empresa junior
                            <a href="http://magnasis.com/">MagnaSis</a>, dirigida &iacute;ntegramente por estudiantes
                            de la <a href="http://www.ehu.eus/es/web/informatika-fakultatea">FISS</a>, a los cuales
                            queremos agradecer la oportunidad que nos han brindado.
                            Todos los integrantes hemos trabajado en distintas areas del desarrollo, idendependientemente
                            del sub-equipo al que pertenec&iacute;amos.
                        </p>
                        <p>
                            También un agradecimiento especial a Israel Betolaza Hinojosa, estudiante de Grado en
                            Bellas Artes, el cual nos ayud&oacute; al comienzo del proyecto con el aspecto y el logo de
                            la pagina. Un excelente trabajador, el cual os recomendamos para cualquier proyecto de diseño
                            gr&aacute;fico:
                            <ul class="list">
                                <li>
                                    Israel Betolaza Hinojosa
                                </li>
                                <li>
                                    Dise&ntilde;o Gr&aacute;fico e Ilustraci&oacute;n
                                </li>
                                <li>
                                    Tel&eacute;fono: 682 92 40 73
                                </li>
                                <li>
                                    email: israelbetolaza@gmail.com
                                </li>
                            </ul>
                            Y a Johanna <!-- TODO: completar dedicatoria-->
                        </p>
                        <p>
                            <h3>Aqu&iacute; los &iacute;ntegrantes del equipo MagnaRenove 2016:</h3>
                            <ul class="list">
                                <h4>Direcci&oacuten:</h4>
                                <li>
                                    Asier Santos Valc&aacute;rcel
                                    <ul class="list-inline intro-social-buttons">
                                        <li>
                                            <a href="https://github.com/ASantosVal" class="btn btn-default btn-lg">
                                                <i class="fa fa-github fa-fw"></i>
                                                <span class="network-name">Github</span>
                                            </a>
                                        </li>
                                        <li>
                                           Email:
                                            <a href="mailto:asiersantosval@gmail.com">
                                                asiersantosval@gmail.com
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="list">
                                <h4>Equipo de Desarrollo:</h4>
                                <li>
                                    Bienvenido  <!-- TODO: completar dedicatoria-->
                                </li>
                                <li>
                                    I&ntilde;aki  <!-- TODO: completar dedicatoria-->
                                </li>
                            </ul>
                            <ul class="list">
                                <h4>Equipo de Pruebas:</h4>
                                <li>
                                    Igor  <!-- TODO: completar dedicatoria-->
                                </li>
                                <li>
                                    Christian  <!-- TODO: completar dedicatoria-->
                                </li>
                            </ul>
                            <ul class="list">
                                <h4>Equipo de Explotaci&oacute;:</h4>
                                <li>
                                    Jon  <!-- TODO: completar dedicatoria-->
                                </li>
                                <li>
                                    Ainhoa  <!-- TODO: completar dedicatoria-->
                                </li>
                            </ul>
                        </p>



                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->



    <!-- Seccion de contacto -->
    <a name="contact"></a>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-1">
                    <h2>Contactanos:</h2>
                </div>
                <div class="col-lg-9">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-fw"></i> <span
                                    class="network-name">Contacta con nosotros</span></a> <!-- TODO: vincular esto con la url del caso de uso -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.banner -->

{% endblock %}
