{% load i18n %}

<!-- Modulo con el Footer [para meter en base.html] -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="{% url 'main' %}">{% trans "Home" %}</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="{% url 'about_us' %}">{% trans "Sobre nosotros" %}</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="{% url 'legal' %}">{% trans "Apartado legal" %}</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="{% url 'contact' %}">{% trans "Contacta con nosotros" %}</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">
                    {% blocktrans with "http://www.apache.org/licenses/LICENSE-2.0" as link %}
                        En este proyecto se ha usado codigo con <a target="_blank" href="{{ link }}">licencia apache</a>
                    {% endblocktrans %}



                </p>

            </div>
        </div>
    </div>
</footer>
