{% extends 'web/es/base.html' %}
{% load bootstrap3 %}

{% block title %}Gesti&oacute;n de Logs{% endblock %}

{% block contenido %}

    <div class="content-section-a" xmlns="http://www.w3.org/1999/html">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Selecciona un archivo de logs</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div id="log_but_cont">
                        <div>
                            <h4>Arichivos .log</h4style>
                        </div>
                        <ul class="log_file_button" >
                            <li>{% bootstrap_button "roomate.log" button_type="link" href="/logging/1" button_class="btn-default" %}</li>
                            <ul >
                                <li>{% bootstrap_button "session.log" button_type="link" href="/logging/2" button_class="btn-default btn-block" %}</li>
                                <li>{% bootstrap_button "dbAccess.log" button_type="link" href="/logging/3" button_class="btn-default btn-block" %}</li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10">
                    </br>
                    </br>
                    </br>
                    <textarea class="log_file_display" >{{ text_log }}</textarea>
                </div>
            </div>
        </div>
    </div>

{% endblock %}