<!-- Pagina para la confirmacion del registro -->

{% extends 'web/es/base.html' %}

{% block contenido %}

    <a name="contenido"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-message">
                        <h3>No se ha encontrado esa direcci&oacute;n</h3>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

{% endblock %}
