{% extends 'web/es/base.html' %}

{% block contenido %}
    <a name="contenido"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="message">
                        <h2>Datos de inicio de sesi&oacute;n incorrectos</h2>
                        <p> no eres miembro? haz click <a href="/register/">aqu&iacute;</a> para registrarse</p>

                    </div>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.container -->


{% endblock %}
