<!-- Pagina con informacion sobre el equipo -->

{% extends 'web/es/base.html' %}

{% block contenido %}

    <!-- Header -->
    <a name="about"></a>
    <div class="background">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="about-us">
                        <h3>Aviso legal</h3>
                        <p>
                            En cumplimiento con el deber de informaci&oacute;n recogido en art&iacute;culo
                            10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad
                            de la Informaci&oacute;n y del Comercio Electr&oacute;nico, a continuaci&oacute;n se
                            reflejan
                            los siguientes datos de la empresa <strong>Magna SIS</strong> de dominio web
                            <a href="http://www.roomate.pe.hu/">roomate.pe.hu</a>

                        </p>
                        <p>
                        <pre>
                                                            <strong>Magna SIS</strong>

                    Nombre comercial:                       Magna SIS

                    Raz&oacute;n social:                           Asociaci&oacute;n de Estudiantes Universitarios Magna SIS

                    C&oacute;digo de Identificaci&oacute;n Fiscal (CIF):  G-75070979

                    N&uacute;mero de Registro como Asociaci&oacute;n:     AS/G/17061/2012

                    Domicilio:                              Paseo Manuel Lardizabal 1,
                                                            20018 San Sebasti&aacute;n (Gipuzkoa)

                    Direcci&oacute;n de correo electr&oacute;nico:        <a href="mailto:magnasis@magnasis.com">magnasis@magnasis.com</a>

                    Tel&eacute;fonos:                              (+34) 6 889 62462
                                                            (+34) 943 01 5022
                    </pre>
                        <h3>Ley de protecci&oacute;n de datos</h3>
                        <p>Por medio de este sitio web se recogen datos de car&aacute;cter personal
                            Todos los contenidos del presente sitio web, incluyendo, sin car&aacute;cter limitativo,
                            textos,
                            gr&aacute;ficos, im&aacute;genes, su dise&ntilde;o y los derechos de propiedad intelectual
                            que
                            pudieran corresponder a dichos contenidos, as&iacute; como todas las marcas, nombres
                            comerciales
                            o cualquier otro signo distintivo, son propiedad de Magna SIS o de sus leg&iacute;timos
                            propietarios, quedando reservados todos los derechos sobre los mismos.
                        </p>
                        <p>
                            Queda prohibido cualquier acto de reproducci&oacute;n de los contenidos, en todo o en parte,
                            en
                            cualquier forma o medio, sea mec&aacute;nico, electr&oacute;nico, reprogr&aacute;fico u
                            otro, as&iacute;
                            como cualquier acto de difusi&oacute;n, comunicaci&oacute;n p&uacute;blica o distribuci&oacute;n,
                            sin la previa autorizaci&oacute;n por escrito de Magna SIS o de los leg&iacute;timos
                            propietarios de los correspondientes derechos.
                        </p>
                        <p>
                            Magna SIS no ser&aacute; responsable de los da&ntilde;os o perjuicios que pudieran derivarse
                            de
                            la utilizaci&oacute;n de los contenidos por parte de los usuarios o de la infracci&oacute;n
                            por
                            parte de estos de cualquier disposici&oacute;n legal vigente.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro-header -->
    </div>

{% endblock %}
