<!-- Modulo con el menu desplegable del login [para meter en base.html]-->

{% load staticfiles %}

<!-- Script para que salte un mensaje al usar un checkbox -->
<script type="text/javascript">
    function notificar(clickedid) {
        alert("Esto es una demo, por el momento no podemos recordarte, disculpa las molestias.");
        return true;
    }
</script>

<!-- Si el usuario ya ha hecho login -->
{% if user.is_authenticated %}
    <li>
        <p class="navbar-text">
            ¡Hola {{ user.username }}!(<a href="{% url 'django.contrib.auth.views.logout' %}">Cerrar
        sesi&oacute;n</a>)
        </p>
    </li>

<!-- el usuario no se ha logeado -->
{% else %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>

        <!-- dropdown especifico para el login -->
        <ul id="login-dp" class="dropdown-menu">
            <li>
                <div class="row">
                    <div class="col-md-12">

                        <form class="navbar-form navbar-center" role="form" method="POST"
                              action="{% url 'auth_login' %}" accept-charset="UTF-8" id="login-nav">

                            <!-- Campo usuario -->
                            <div class="form-group">
                                <label class="sr-only" for="Email">Usuario</label>
                                <input type="text" placeholder="Username" class="form-control" name="username">
                                {{ form.username }}
                            </div>

                            <!-- Campo contraseña -->
                            <div class="form-group">
                                <label class="sr-only" for="Password">Contrase&Ntilde;a</label>
                                <input type="password" placeholder="Password" class="form-control" name="password">
                                {{ form.password }}
                                <div class="help-block text-center"><a href="{% url 'recover_password' %}">¿Contrase&ntilde;a
                                    olvidada?</a></div>
                            </div>

                            <!-- Boton summit -->
                            <div class="form-group">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-block" value="login">Iniciar sesi&oacute;n</button>
                                <input type="hidden" name="next" value="{{ next }}"/>
                            </div>

                            <!-- checkbox para recordar el usuario -->
                            <div class="checkbox" name="recordar">
                                <label> <input type="checkbox" id="recordarme" onchange="notificar('recordarme')">
                                    Recordarme </label>
                            </div>
                        </form>
                    </div>

                    <!-- link a regitrar nuevo usuario -->
                    <div class="bottom text-center">
                        Nuevo aqu&iacute; ? <a href="{% url 'register_new_user' %}"><b>Registrate</b></a>
                    </div>

                </div>
            </li>
        </ul>
    </li>
{% endif %}
