{% extends 'web/es/base.html' %}

{% block contenido %}
<a name="contenido"></a>
<div class="content-section-a">
		<div class="container">
				<div class="row">
						<div class="col-lg-12">

            <div class="message">
              <h2 class="text-center">Hasta otra!</h2>
              <p class="text-center">Click <a href="/accounts/login">aquí</a> para volver a iniciar sesión</p>
            </div>

          </div>
          </div>
          </div>
          <!-- /.container -->
          </div>
          <!-- /.container -->
{% endblock %}
