{% extends 'web/es/base.html' %}

{% load bootstrap3 %}

{% block contenido %}
    <a name="contenido"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"><br><br>

                    <form method="POST" class="password-reset form-category">

                        {% csrf_token %}

                        {% if request.session.lang == "es" %}

                            <h4><strong>Restablecer contrase&ntilde;a</strong></h4>

                            <p> ¿Has olvidado tu clave? Introduce tu direcci&oacute;n de correo
                                y te enviaremos las intrucciones para establecer una nueva.</p>

                            {% bootstrap_form form show_label=False %}

                            {% bootstrap_button "Restablecer contrase&ntilde;a" button_type="submit" button_class="btn-primary" %}
                            <a href="{% url 'main' %}" class="btn btn-default">Cancelar</a>

                        {% else %}

                            <h4><strong>Pasahitza berrezarri</strong></h4>

                            <p> ¿Zure pasahitza ahaztu al duzu? Idatzi zure posta helbidea eta berri bat ezartzeko
                                argibideak bidaliko dizkizugu.</p>

                            {% bootstrap_form form show_label=False %}

                            {% bootstrap_button "Pasahitza berrezarri" button_type="submit" button_class="btn-primary" %}
                            <a href="{% url 'main' %}" class="btn btn-default">Ezeztatu</a>

                        {% endif %}


                    </form>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.container -->
{% endblock %}
