{% extends 'web/es/base.html' %}

{% load bootstrap3 %}


{% block contenido %}

    <a name="contenido"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="password-reset">

                        <h4><strong>Restablecimiento de contrase&ntilde;a enviado!</strong></h4>

                        <p>Te hemos enviado por email las instrucciones para restablecer la contrase&ntilde;a. <br>
                            Deber&iacute;as recibirlas en breve.</p>

                        <p class="text-muted"><em>Si no recibes un correo, por favor aseg&uacute;rate de que has introducido la
                            direcci&oacute;n
                            de correo con la que te registraste y comprueba tu carpeta de spam.</em></p>

                        {% bootstrap_button "Volver al inicio" button_type="link" href="/" button_class="btn-default" %}

                    </div>


                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
{% endblock %}
