{% extends 'web/es/base.html' %}

{% load bootstrap3 %}

{% block contenido %}

    <div class="content-section-a">
        <div class="container"> <br> <br>
            <div class="row form-category">

                {% if request.session.lang == "es" %}

                    <h4><strong>Restablecimiento de contrase&ntilde;a enviado!</strong></h4>

                    <p>Te hemos enviado por email las instrucciones para restablecer la contrase&ntilde;a. <br>
                        Deber&iacute;as recibirlas en breve.</p>

                    <p class="text-muted"><em>Si no recibes un correo, por favor aseg&uacute;rate de que has
                        introducido la direcci&oacute;n de correo con la que te registraste
                        y comprueba tu carpeta de spam.</em></p>

                    <a href="{% url 'main' %}" class="btn btn-default">Volver al inicio</a>

                {% else %}

                    <h4><strong>Pasahitzaren berrezartzeko argibideak bidaliak!</strong></h4>

                    <p>Luzatutako postara pasahitza berrezartzeko argibideak bidali dizkizugu. <br>
                        Segituan iritsi beharko zitzaizkizun</p>

                    <p class="text-muted"><em>Ez baduzu mezua jasotzen, mesedezz egiaztatu helbide zuzena sartu duzula
                        eta konprobatu mezua ez dala spam karpetara mugitu.</em></p>

                    <a href="{% url 'main' %}" class="btn btn-default">Hasierara itzuli</a>

                {% endif %}
        </div>
    </div>
    <!-- /.container -->
    </div>
{% endblock %}
