{% extends 'web/es/base.html' %}

{% load bootstrap3 %}

{% block title %}Restablecer contraseña{% endblock %}

{% block contenido %}

    <div class="content-section-a">
        <div class="container"><br>
            <div class="row">
                <div class="form-category" style="max-width: 700px">

                    {% if request.session.lang == "es" %}

                        <!-- Si el enlace es válido, mostrar al usuario el formulario de cambio de contraseña -->
                        {% if validlink %}

                            <h4><strong>Escribe tu nueva contrase&ntilde;a</strong></h4>

                            <p>Introduce la contrase&ntilde;a nueva dos veces para verificar que la has escrito
                                correctamente.</p>

                            <form method="POST">

                                {% csrf_token %}

                                {% bootstrap_form form show_label=false show_help=false %}

                                {% bootstrap_button "Cambiar contraseña" button_type="submit" button_class="btn-primary" %}

                            </form>

                            <!-- Si el enlace no es válido, mostrar un aviso -->
                        {% else %}

                            <h4><strong>Restablecimiento de contrase&ntilde;a fallido!</strong></h4>

                            <p class="text-danger">El enlace de restablecimiento de contrase&ntilde;a introducido no es
                                válido, <br/>
                                posiblemente porque ya haya sido utilizado anteriormente.</p>

                            <p>Por favor, solicita un nuevo restablecimiento de contrase&ntilde;a.</p>
                            {% bootstrap_button "Solicitar un nuevo enlace" button_type="link" href="/accounts/password/reset" button_class="btn-primary" %}
                            <a href="{% url 'main' %}" class="btn btn-default">Volver al inicio</a>

                        {% endif %}

                    {% else %}

                        <!-- Si el enlace es válido, mostrar al usuario el formulario de cambio de contraseña -->
                        {% if validlink %}

                            <h4><strong>Idatzi ezazu zure pasahitz berria:</strong></h4>

                            <p>Sar ezazu pasahitz berria bi aldiz ondo idatzita dagoela bermatzeko:</p>

                            <form method="POST">

                                {% csrf_token %}

                                {% bootstrap_form form show_label=false show_help=false %}

                                {% bootstrap_button "Pasahitza aldatu" button_type="submit" button_class="btn-primary" %}

                            </form>

                            <!-- Si el enlace no es válido, mostrar un aviso -->
                        {% else %}

                            <h4><strong>Pasahitza ezin izan da berrezarri!</strong></h4>

                            <p class="text-danger">Sartutako pasahitz-berrezartze esteka ez da zuzena, <br/>
                                beharbada lehenago erabilia izan delako.</p>

                            <p>Mesedez, egin pasahitza berrezartzeko beste eskaera bat.</p>
                            {% bootstrap_button "Esteka berri bat eskatu" button_type="link" href="/accounts/password/reset" button_class="btn-primary" %}
                            <a href="{% url 'main' %}" class="btn btn-default">Hasierara itzuli</a>

                        {% endif %}

                    {% endif %}

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
{% endblock %}
