{% extends 'web/es/base.html' %}

{% load bootstrap3 %}

{% block title %}Contraseña cambiada{% endblock %}

{% block contenido %}

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="text-center form-category" style="width: 600px">

                    {% if request.session.lang == "es" %}

                        <h4><strong>Contraseña cambiada correctamente</strong></h4>
                        <p>Tu contraseña ha sido cambiada!</p>

                    {% else %}

                        <h4><strong>Pasahitza aldatua</strong></h4>
                        <p>Zure pasahitza aldatua izan da!</p>

                    {% endif %}

                </div>
            </div>
        </div> <!-- /.container -->
    </div>

{% endblock %}
