<!-- Pagina para la confirmacion del registro -->

{% extends 'web/es/base.html' %}

{% block contenido %}

    <a name="contenido"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-message">
                        <h3>
                            ¡Te has registrado con éxito!<br>Debes revisar tu correo electrónico para activar la cuenta.
                            <br><br>Gracias por elegir RooMate.
                        </h3>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

{% endblock %}
