<!-- Pagina para la confirmacion del registro -->

{% extends 'web/es/base.html' %}

{% block contenido %}

    <a name="contenido"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="intro-message">
                        <h3>Registro completado, le hemos enviado un correo para que pueda <b>activar su cuenta. <i>revise su correo electrónico</i></b>
                        <br>si no encuentras el mail; revise los correos no deseados</h3>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

{% endblock %}
