<!-- Pagina para funciones sin desarrollar [Enfocado a la demo] -->

{% extends 'web/es/base.html' %}

{% block contenido %}

    <a name="about"></a>
    <div class="error-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="error-message">
                        <h1>Funci&oacute;n sin desarrollar o a completar</h1>
                        <h3>¡Nos vemos pronto!</h3>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

{% endblock %}
