{% extends 'web/es/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title %}Borrar cuenta{% endblock %}

{% block contenido %}

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <br><br><br><br>
          <h4><strong>ver usuarios</strong></h4>

          <p>lista de usuarios que coinciden en todo</p>

            {% if usuarios %}

            <div class="form-group has-error">

              {% for usuario in usuarios %}
                  {% if request.user.username != usuario.user.username %}


                             <div class="panel panel-primary col-md-5 container">
                             <div class="panel-heading"> <h4>{{ usuario.user.username }} </h4></div>

                                <ul class="list-group">
                                {% if usuario.firstName != ''  %}<li class="list-group-item">   Nombre:  {{ usuario.firstName }} </li> {% endif %}
                                    {% if usuario.lastName != ''  %}<li class="list-group-item"> Apellidos: {{ usuario.lastName }}  </li>{% endif %}
  <li class="list-group-item"> Atributos:       <span class="label label-default ">{{ usuario.get_gender_display }}</span>
                                        {% if usuario.get_pet_display != 'Ninguna'  %}<span class="label label-default ">{{ usuario.get_pet_display }}</span>
                                         {% else %}
                                         <span class="label label-default "> Sin mascota</span>
                                         {% endif %}
                                        {% if usuario.isSmoker  %}<span class="label label-default">Fumador</span>{% else %}<span class="label label-default">No fumador</span>{% endif %}

  </li>
  {% if usuario.Instrument != ''  %}<li class="list-group-item">Instrumento:  <span class="label label-default  ">{{ usuario.Instrument }}</span>
      </li> {% endif %}

    {% if usuario.Instrument != ''  %}<li class="list-group-item">Zona:   <span class="label label-default  ">{{ usuario.lookingIn }}</span>    </li> {% endif %}

                             {% if usuario.description != ''  %}
                             <div class="panel-body">
                                 Descripcion:
                                 <p> {{ usuario.description }}</p>
                             </div>
                                {% endif %}


                             </ul>

                             <div class="panel-footer">
                                  <a href="/usuario/{{usuario.user.username }}"  class="btn btn-default" role="button">Contactar</a>
                             </div>

                             </div>



                  {% endif %}
              {% endfor %}
            </div>
            {% endif %}

        </div>
      </div>
    </div>
  </div>



  {% endblock %}
