{% extends 'web/es/base.html' %}

{% load bootstrap3 %}

{% block title %}Editar perfil{% endblock %}

{% block contenido %}

    <div class="content-section-a">
        <div class="container">
            <div class="media">

                {% for casa in casas %}
                    <div class="media-left">
                        <a href="{% url 'edit_house' ciudad=casa.ciudad dir=casa.direccion %}">
                            {% if casa.fotos|length != "0" %}    {{ article.product.images.all.0.image.url }}
                                <img class="media-object" src="{{ casa.fotos.all.0.foto.url }}" alt="120x120"
                                     data-src="holder.js/120x120" style="width: 120px; height: 120px;"
                                     data-holder-rendered="true">
                            {% else %}
                                <img class="media-object" src="" alt="120x120" data-src="holder.js/120x120"
                                     style="width: 120px; height: 120px;" data-holder-rendered="true">
                            {% endif %}
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading"><a
                                href="{% url 'edit_house' ciudad=casa.ciudad dir=casa.direccion %}">Casa</a></h2>
                        <p><strong>Ciudad:</strong> {{ casa.ciudad }}</p>
                        <p><strong>Direccion:</strong>{{ casa.direccion }}</p>
                        <p><strong>Numero de habitaciones:</strong>{{ casa.numHabitaciones }}
                            <strong>Libres:</strong>{{ casa.numHabitacionesDisponibles }}</p>
                        <p><strong>Descripción:</strong>{{ casa.descripciones }}</p>
                        {% if casa.alquilerPorHabitaciones == true %}
                            <p><strong>Se alquila por habitaciones</strong></p>
                        {% endif %}
                        <p><strong>Precio alquiler:</strong>{{ casa.precioAlquiler }} € <strong>Precio gastos
                            suplementarios:</strong>{{ casa.gastosComplementarios }} € </p>
                    </div>

                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}