{% extends 'web/base.html' %}

{% block contenido %}

<a  name="contenido"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <h1>Se ha enviado un correo electrónico a <strong>{{ mail }}</strong>. Por favor, sigue las instrucciones indicadas en él.</h1>
        <form method="POST" class="custom_form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">return to main page</button>
        </form>

      </div>
    </div>
  </div>
  <!-- /.contenido -->
</div>

{% endblock %}
