{% extends 'web/base.html' %}

{% block contenido %}


<script type="text/javascript">

  function notificar(clickedid) {
      alert("Aún no hemos redactado las condiciones de uso, upss.");
      return true;
    }

</script>


<a  name="contenido"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Introduce tu infromaci&oacute;n y &uacute;nete a nosotros.</h1>

        <form method="POST" class="custom_form">{% csrf_token %}
  		<!-- esto es para probar otro metodo de enviar mensajes, lo mas probable es que lo borremos-->
  		<!--
  		  {% if messages %}
  		  <ul class="messages">
  		  {% for message in messages %}
  		  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  		  {% endfor %}
  		  </ul>
  		  {% endif %}
  		-->
        {% if exist %}
          <p style='color:#ff0000'>El correo <strong>{{ exist }}</strong> existe. Por favor introduce otro correo.</p>
          <button type="submit" class="save btn btn-default">Go back</button>
        {% elif insecure %}
          <p style='color:#ff0000'>La contraseña no es lo suficientemente segura. Requiere al menos 8 caracteres y contenter al menos una letra y un n&uacute;mero</p>
          <button type="submit" class="save btn btn-default">Go back</button>
        {% elif no_email %}
          <p style='color:#ff0000'>El correo electronico no tiene el formato adecuado</p>
          <button type="submit" class="save btn btn-default">Go back</button>
        {% elif created %}
    		  <p>Se ha enviado un correo electrónico a <strong>{{created}}</strong>. Por favor, sigue las instrucciones en él.</p>
    		  <button type="submit" class="save btn btn-default">Go back</button>
    		  {% else %}
    		  <h1>Por favor, completa el siguiente formulario</h1>
    		  {{ form.as_p }}

          <div class="checkbox" name="recordar">
            <label> <input type="checkbox" id="recordarme" onchange="notificar('recordarme')"> He le&iacute;do y acepto las condiciones de uso </label>
          </div>

    		  <button type="submit" class="save btn btn-default">Save</button>
    		{% endif %}
    		</form>

      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->



<a  name="contenido"></a>
<div class="content-section-a">
    <div class="container">



    </div>
    <!-- /.contenido -->
</div>

{% endblock %}
