<!-- Pagina para el registro de nuevos ususarios y muestra de mensajes de error -->

{% extends 'web/base.html' %}

{% block contenido %}

    <!-- Script para mostrar mensajes al pulsar un checkbox -->
    <script type="text/javascript">
        function notificar(clickedid) {
            alert("Aún no hemos redactado las condiciones de uso, upss.");
            return true;
        }
    </script>

    <a name="contenido"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Introduce tu infromaci&oacute;n y &uacute;nete a nosotros.</h1>

                    <form method="POST" class="custom_form">{% csrf_token %}

                        <!-- El correo ya existe -->
                        {% if exist %}
                            <p style='color:#ff0000'>El correo <strong>{{ exist }}</strong> existe. Por favor introduce
                                otro correo.</p>
                            <button type="submit" class="save btn btn-default">Go back</button>

                            <!-- si la contrasena no es segura -->
                        {% elif insecure %}
                            <p style='color:#ff0000'>La contraseña no es lo suficientemente segura. Requiere al menos 8
                                caracteres y contenter al menos una letra y un n&uacute;mero</p>
                            <button type="submit" class="save btn btn-default">Go back</button>

                            <!-- si el correo no tiene un formato adecuado -->
                        {% elif no_email %}
                            <p style='color:#ff0000'>El correo electronico no tiene el formato adecuado</p>
                            <button type="submit" class="save btn btn-default">Go back</button>

                            <!-- Si el correo ha sido creado -->
                        {% elif created %}
                            <p>Se ha enviado un correo electrónico a <strong>{{ created }}</strong>. Por favor, sigue
                                las instrucciones en él.</p>
                            <button type="submit" class="save btn btn-default">Go back</button>

                            <!-- En su defecto, poner el formulario de creaccion -->
                        {% else %}
                            <h1>Por favor, completa el siguiente formulario</h1>
                            {{ form.as_p }}

                            <!-- Checkbox para acpetar las condiciones de uso -->
                            <div class="checkbox" name="condiciones">
                                <label> <input type="checkbox" id="condiciones" onchange="notificar('condiciones')"> He
                                    le&iacute;do y acepto las condiciones de uso </label>
                            </div>

                            <button type="submit" class="save btn btn-default">Save</button>

                        {% endif %}

                    </form>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.container -->

{% endblock %}
