<!-- Pagina con informacion sobre el equipo -->

{% extends 'web/eu/base.html' %}

{% block contenido %}

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="about-us">
                    <h3>MagnaRenove 2016-ko taldea</h3>
                    <p>
                        Ingeniaritza informatikoko ikasle talde bat gara. Web orrialde hau MagnaRenove 2016-ko praktiken
                        fruitu da, <a href="http://magnasis.com/">MagnaSis</a> junior enpresak garatutakoak eta luzatu
                        zaigun aukera eskertzen dugunikasle talde batek zuzenduak.
                    </p>
                    <p>
                        Esker berezi bat Johanna Almache Montoya-ri, publizitate eta sare sozialetan eskainitako laguntzagatik;
                        eta Israel Betolaza Hinojosa-ri, proiektuaren hasieran orrialdearen itxura eta logotipoak garatzen lagundu
                        zuen diseinatzaileari.Biak langile adituak dira eta hori dela medio gomendatzen dizkizuegu:

                        <ul class="list">
                            <strong>
                                Israel Betolaza Hinojosa
                            </strong>
                            <li>
                                Diseinu grafikoa eta ilustrazioa
                                </br>
                                Diseinu eta sorkuntza graduko ikaslea (UPV-EHU)
                            </li>
                            <li>
                                Telefonoa: 682 92 40 73
                            </li>
                            <li>
                                Posta elektroniko helbidea: 
                                <a href="mailto:israelbetolaza@gmail.com">
                                    israelbetolaza@gmail.com
                                </a>
                            </li>
                        </ul>
                        <ul class="list">
                            <strong>
                                Johanna Almache Montoya
                            </strong>
                            <li>
                                Periodismo gradua (Madrilgo unibertsitate konputensea)
                                </br>
                                Erakuntzen psikologia eta interbentzio psikologiko masterreko ikaslea (UPV-EHU)
                            </li>
                            <li>
                                Email: 
                                <a href="mailto:johannaalmache@gmail.com">
                                    johannaalmache@gmail.com
                                </a>
                            </li>
                        </ul>
                    </p>

                    <p>
                        <hr>
                        <h3>Hona MagnaRenove 2016 taldeko osagaiak:</h3>

                        Denek parte hartu dute beste taldeen lanean, azpitalde ezberdinen parte izan harren.
                        <ul class="list">
                            <h4>Zuzendaritza:</h4>
                            <li>
                                Asier Santos Valc&aacute;rcel
                                <ul class="intro-social-buttons">
                                    <li>
                                        Email:
                                        <a href="mailto:asiersantosval@gmail.com">
                                            asiersantosval@gmail.com
                                        </a>
                                    </li>
                                    <li>
                                        Github:
                                        <a href="https://github.com/ASantosVal">
                                            https://github.com/ASantosVal
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="list">
                            <h4>Garapen taldea:</h4>
                            <li>
                                Bienvenido Alogo Mangue
                                <ul class="intro-social-buttons">
                                    <li>
                                        Email:
                                        <a href="mailto:bienvepro@gmail.com">
                                            bienvepro@gmail.com
                                        </a>
                                    </li>
                                    <li>
                                        Github:
                                        <a href="https://github.com/djbienve">
                                            https://github.com/djbienve
                                        </a>
                                    </li>
                                    <li>
                                        Telefonoa: 632788704
                                    </li>
                                </ul>
                            </li>
                            <li>
                                I&ntilde;aki Cortajarena <!-- TODO: completar dedicatoria-->
                            </li>
                        </ul>
                        <ul class="list">
                            <h4>Frogen taldea:</h4>
                            <li>
                                Igor Santesteban <!-- TODO: completar dedicatoria-->
                            </li>
                            <li>
                                Christian Mares <!-- TODO: completar dedicatoria-->
                            </li>
                        </ul>
                        <ul class="list">
                            <h4>Esplotazio taldea:</h4>
                            <li>
                                Jon Arzelus <!-- TODO: completar dedicatoria-->
                            </li>
                            <li>
                                Ainhoa Havelka <!-- TODO: completar dedicatoria-->
                            </li>
                        </ul>
                    </p>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
</div>

{% endblock %}
