{% extends 'web/eu/base.html' %}
{% load bootstrap3 %}

{% block title %}Backup-en gestioa{% endblock %}

{% block contenido %}

    <div class="content-section-a" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    </br>
                    </br>
                    </br>
                    <h1>Kopia burutua</h1>
                    </br>
                    </br>
                    </br>
                    {% bootstrap_button "Segurtasun kopiak ikusi Dropbox-en" button_type="link" href='https://www.dropbox.com/home/Roomate_Backups' button_class="btn-default" %}
                    {% bootstrap_button "Beste kopia bat egin" button_type="link" href='/database_backup' button_class="btn-danger" %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
