{% extends 'web/es/base.html' %}

{% block title %}Kontua ezabatu{% endblock %}

{% block contenido %}

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form method="POST" class="form-category">

                        {% csrf_token %}
                        <h4><strong>Kontua ezabatu</strong></h4>

                        <p>Adi! Zure kontua <strong>betirako ezabatzeko</strong> eskaera egin duzu.<br>
                            Mesedez, sar ezazu zure erabiltzaile-izeba baieztapen modura:</p>

                        {% if messages %}

                            <!-- Si hay errores, mostrar el campo en rojo
                            junto con el correspondiente aviso de error -->

                            <div class="form-group has-error">
                                <input type="text" class="form-control" name="username" maxlength="30"
                                       placeholder="Erabiltzailea (baieztapena)">
                                {% for message in messages %}
                                    <span class="control-label"> {{ message }} </span>
                                {% endfor %}
                            </div>

                        {% else %}

                            <!-- Si no hay errores, mostrar el campo normal -->

                            <div class="form-group">
                                <input type="text" class="form-control" name="username" maxlength="30"
                                       placeholder="Erabiltzailea (baieztapena)">
                            </div>

                        {% endif %}

                        <!-- Botones -->

                        <input type="submit" class="btn btn-danger" value="Kontua ezabatu">
                        <a href="{% url 'main' %}" class="btn btn-default">Ezeztatu</a>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
