<!-- pagina generica para errores de busqueda -->

{% extends 'web/es/base.html' %}

{% block contenido %}

    <a name="about"></a>
    <div class="error-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="error-message">
                        <h3>Etxe hori dagoeneko sortuta dago.</h3>
                        <p>Zure etxeetan bila ezazu editatu nahi baduzu.</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->

{% endblock %}
