{% extends 'web/eu/base.html' %}

{% load bootstrap3 %}


{% block contenido %}
    <a name="contenido"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <form method="POST" class="password-reset">

                        {% csrf_token %}

                        <h4><strong>Pasahitza berrezarri</strong></h4>

                        <p> ¿Zure pasahitza ahaztu al duzu? Idatzi zure posta helbidea eta berri bat ezartzeko argibideak
                            bidaliko dizkizugu.</p>

                        {% bootstrap_form form show_label=False %}

                        {% bootstrap_button "Pasahitza berrezarri" button_type="submit" button_class="btn-primary" %}
                        {% bootstrap_button "Ezeztatu" button_type="link" href="/" button_class="btn-default" %}
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.container -->
{% endblock %}
