{% extends 'web/eu/base.html' %}

{% load bootstrap3 %}


{% block contenido %}

    <a name="contenido"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="password-reset">

                        <h4><strong>Pasahitzaren berrezartzeko argibideak bidaliak!</strong></h4>

                        <p>Luzatutako postara pasahitza berrezartzeko argibideak bidali dizkizugu. <br>
                            Segituan iritsi beharko zitzaizkizun</p>

                        <p class="text-muted"><em>Ez baduzu mezua jasotzen, mesedez egiaztatu helbide zuzena sartu duzula
                            eta konprobatu mezua ez dala spam karpetara mugitu.</em></p>

                        {% bootstrap_button "Hasierata itzuli" button_type="link" href="/" button_class="btn-default" %}

                    </div>


                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
{% endblock %}
