{% extends 'web/eu/base.html' %}

{% load bootstrap3 %}

{% block title %}Pasahitza berrezarri{% endblock %}

{% block contenido %}

    <a name="contenido"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="password-reset">

                        <!-- Si el enlace es válido, mostrar al usuario el formulario de cambio de contraseña -->
                        {% if validlink %}

                            <h4><strong>Idatzi ezazu zure pasahitz berria:</strong></h4>

                            <p>Sar ezazu pasahitz berria bi aldiz ondo idatzita dagoela bermatzeko:</p>

                            <form method="POST">

                                {% csrf_token %}

                                {% bootstrap_form form show_label=false show_help=false %}

                                {% bootstrap_button "Pasahitza aldatu" button_type="submit" button_class="btn-primary" %}
                                {% bootstrap_button "Ezeztatu" button_type="link" href="/" button_class="btn-default" %}

                            </form>

                            <!-- Si el enlace no es válido, mostrar un aviso -->
                        {% else %}

                            <h4><strong>Pasahitza ezin izan da berrezarri!</strong></h4>

                            <p class="text-danger">Sartutako pasahitz-berrezartze esteka ez da zuzena, <br/>
                                beharbada lehenago erabilia izan delako.</p>

                            <p>Mesedez, egin pasahitza berrezartzeko beste eskaera bat.</p>
                            {% bootstrap_button "Esteka berri bat eskatu" button_type="link" href="/accounts/password/reset" button_class="btn-primary" %}
                            {% bootstrap_button "Hasierara itzuli" button_type="link" href="/" button_class="btn-default" %}

                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
{% endblock %}
